@tailwind base;
@tailwind components;
@tailwind utilities;

#questions::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px 	rgba(99, 101, 241, 0.276);
	;
	border-radius: 10px;
}

#questions::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
	display: none;
}

#questions::-webkit-scrollbar-thumb
{
	background-color: rgb(99 102 241);
	border-radius: 5px;
}

