@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: poppins;
}
#answerOptions > span {
  padding: 0.2rem 1rem;
  width: 150px;

  border: 2px solid #293264;
  border-radius: 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: #deebf8;
  }
}
button[selected="false"] {
  background-color: #000000;
}
